/* Project.css */

/* Réinitialisation des marges et des rembourrages */
body, #root {
    margin: 0;
    padding: 0;
}

/* Conteneur principal */
.project-container {
    display: flex;
    flex-wrap: wrap; /* Permettre aux projets de passer à la ligne si nécessaire */
    justify-content: center; /* Centrer les projets horizontalement */
    align-items: center; /* Centrer les projets verticalement */
    padding: 20px; /* Ajouter un peu d'espace autour des projets */
    min-width: 800px; /* Largeur minimale du conteneur de projet */
    margin-top: 50px; /* Espacement en haut de la page */
}

/* Style de chaque projet */
.project-detailed {
    width: 80%; /* Faire au moins un quart de la largeur de la page */
    margin: 20px; /* Espacement entre les projets */
    background-color: #f0f0f0; /* Couleur de fond */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
    padding: 30px; /* Espace à l'intérieur de chaque projet */
    transition: transform 0.3s ease; /* Ajouter une transition au survol */
    display: flex; /* Utiliser le modèle de boîte flex */
    flex-direction: column; /* Empiler le contenu verticalement */
    align-items: center; /* Centrer le contenu horizontalement */
}

/* Style du titre du projet */
.project h2 {
    font-size: 1.5rem; /* Taille de la police pour le titre */
    margin-bottom: 10px; /* Espacement sous le titre */
}

/* Style du résumé du projet */
.project p {
    font-size: 1rem; /* Taille de la police pour le résumé */
    color: #666; /* Couleur du texte */
}

/* Style de survol */
.project:hover {
    transform: translateY(-5px); /* Légère translation vers le haut au survol */
}
